@page "/"
@*<img class="rounded" src="https://4oxyaa.am.files.1drv.com/y4maSXp3WiXLgRRI3FvMzqmr3svqQZrdEf9RpWVmFnZNFLThvmebSepByxM9AWzB-P51aOm4eJzxq_oT7fM09whZb4-aQnB8a5NAkVza6UOfUaFkn_RRcmDtQhGJlSys1OJTdtHcZ9OdG_JRiqKMRsX5v-nLMn3gjPWsGRRKHL1yz6pUE2H3Y-2kjsyPrhru2lm4inaeWlzJQTkWk27XREBOg?width=256&height=256&cropmode=none" />*@

<div class="">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Waqas Ali</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://4oxyaa.am.files.1drv.com/y4maSXp3WiXLgRRI3FvMzqmr3svqQZrdEf9RpWVmFnZNFLThvmebSepByxM9AWzB-P51aOm4eJzxq_oT7fM09whZb4-aQnB8a5NAkVza6UOfUaFkn_RRcmDtQhGJlSys1OJTdtHcZ9OdG_JRiqKMRsX5v-nLMn3gjPWsGRRKHL1yz6pUE2H3Y-2kjsyPrhru2lm4inaeWlzJQTkWk27XREBOg?width=256&height=256&cropmode=none" alt="" />
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Waqas
                    <span class="text-primary">Ali</span>
                </h1>
                <p class="lead mb-5">I am a Senior Cloud Software Engineer working at Maersk. I have been a developer for more than 10 years. Last few years, I have turned my focus mainly on Cloud technologies. I love to write and test my code and like the idea of test driven development.</p>
                <div class="social-icons">
                    <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/waqasali47/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" target="_blank" href="https://github.com/waqasali47"><i class="fab fa-github"></i></a>
                    <a class="social-icon" target="_blank" href="https://twitter.com/waqas_ali47"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p class="mb-0">Apart from work, I spend a large amount of my free time exploring the latest technology advancements within Azure Cloud and Software Development. I also play computer games. Big fan of Hitman, PUBG and The Witcher. If i get some time after all this, I like to go to fishing sometimes.</p>
                <p class="mb-0"> I am a father of two boys and a husband. On weekends, occasionally i play chess with my son, go out with my family.</p>
                <p class="mb-0">Other than all the above, I follow a number of sci-fi and fantasy genre movies and television shows. Big time fan of Marvel.</p>
            </div>
        </section>
        <hr class="m-0" />

    </div>
</div>