@page "/"

<div class="container body">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <img class="rounded" src="https://4oxyaa.am.files.1drv.com/y4maSXp3WiXLgRRI3FvMzqmr3svqQZrdEf9RpWVmFnZNFLThvmebSepByxM9AWzB-P51aOm4eJzxq_oT7fM09whZb4-aQnB8a5NAkVza6UOfUaFkn_RRcmDtQhGJlSys1OJTdtHcZ9OdG_JRiqKMRsX5v-nLMn3gjPWsGRRKHL1yz6pUE2H3Y-2kjsyPrhru2lm4inaeWlzJQTkWk27XREBOg?width=256&height=256&cropmode=none" />
            @*98F7828C-CAA2-44A3-A04E-1B1798421766*@
        </div>

    </div>
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>

    </div>
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-secondary"><i class="fab fa-twitter"></i></button>
            <button type="button" class="btn btn-outline-secondary"><i class="fab fa-github"></i></button>
            <button type="button" class="btn btn-outline-secondary"><i class="fab fa-linkedin-in"></i></button>
        </div>

    </div>
</div>