<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p class="mb-0">Apart from work, I spend a large amount of my free time exploring the latest technology advancements within Azure Cloud and Software Development. I also play computer games. Big fan of Hitman, PUBG and The Witcher. If i get some time after all this, I like to go to fishing sometimes.</p>
        <p class="mb-0"> I am a father of two boys and a husband. On weekends, occasionally i play chess with my son, go out with my family.</p>
        <p class="mb-0">Other than all the above, I follow a number of sci-fi and fantasy genre movies and television shows. Big time fan of Marvel.</p>
    </div>
</section>

@code {

}
