<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p class="mb-0">Apart from work, I spend a large amount of my free time exploring the latest technology advancements within Cloud Technologies and Software Development.</p>
        <p class="mb-0">Spend some time in the gym pumping iron. </p>
        <p class="mb-0">Other than all the above, I follow a number of sci-fi and fantasy genre movies and television shows. Big time fan of Marvel.</p>
    </div>
</section>

@code {

}
