

<section id="talks">
    <div style="text-align:center" class="container">
        <div class="card m-2 ">
            <div class="card-header talks-card">
                Lessons learned on building a Developer platform and how it clicks Developer Experience into place
            </div>
            <div class="card-body">
                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=XMUPfDpAeAU&t=211s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
        </div>
    <div style="text-align:center" class="container">
        <div class="card m-2 ">
            <div class="card-header talks-card">
                Empowering engineers through self-service Infrastructure as code
            </div>
            <div class="card-body">https://www.youtube.com/watch?v=XMUPfDpAeAU&t=211s
                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=wsOU7DgW8qo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
        <div class="card m-2 ">
            <div class="card-header talks-card">
                Micro frontends in the cloud - from theory to practice
            </div>
            <div class="card-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uPTRpninjVI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
@code {

}
