<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Waqas
            <span class="text-primary">Ali</span>
        </h1>
        
        <p class="lead mb-5">I am a Senior Cloud Software Engineer working at Maersk. Every day i write and design cloud native applications.
            I love to write and test my code.</p>
        <div class="social-icons">
            <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/waqasali47/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" target="_blank" href="https://github.com/waqasali47"><i class="fab fa-github"></i></a>
            <a class="social-icon" target="_blank" href="https://twitter.com/waqas_ali47"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>

@code {

}
