

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Waqas Ali</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://4oxyaa.am.files.1drv.com/y4maSXp3WiXLgRRI3FvMzqmr3svqQZrdEf9RpWVmFnZNFLThvmebSepByxM9AWzB-P51aOm4eJzxq_oT7fM09whZb4-aQnB8a5NAkVza6UOfUaFkn_RRcmDtQhGJlSys1OJTdtHcZ9OdG_JRiqKMRsX5v-nLMn3gjPWsGRRKHL1yz6pUE2H3Y-2kjsyPrhru2lm4inaeWlzJQTkWk27XREBOg?width=256&height=256&cropmode=none" alt="" />
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#talks">Talks</a></li>
        </ul>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
